/* Custom CSS styles */

/* Change background color */
html {
    background-color: var(--beige);
}

/* Change default text color */
body {
    color: var(--dark);
}

/* Change navbar color */
nav.navbar {
    background-color: var(--beige);
}

/* Make sure menu text always align center */
.menu {
    text-align: center;
    color: #000;
    font-size: 20px;
}

/* Change footer background and color */
.footer {
    background-color: var(--beige);
    color: #000;
}

/* Change title and navbar font color */
a {
    color: var(--dark);
}

a:hover,
a.active {
    color: var(--dark);
}

/* Change slide's(each work's) # color */
.slider .grey:hover {
    color: var(--grey) !important;
}

.slider .grey:active {
    color: var(--dark);
}

/* Change slide's(each work's) content color */
.slider .slide,
.slider .slide-title,
.slider .slide-meta-title,
.slider .a-clean,
.slider h1,
.slider h3,
.slider h2,
.slider h4,
.slider h5,
.slider h6 {
    color: var(--white) !important;
}

.slider .slide-title:hover,
.slider .slide-title:active {
    color: #fff;
}

/* Change default headers' color */
h1,
h3,
h2,
h4,
h5,
h6 {
    color:#000 !important;
}

/* Change footer link text color */
.source-love {
    color: var(--main);
}

